<app-header-user></app-header-user>
acceuil
<app-footer></app-footer>

<!-- 
<form #myform="ngForm" (ngSubmit)="createAnnance()" class="login-form">


    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}
    </div>

    <div class="group">
        <label for="description" class="label">Description</label>
        <input [(ngModel)]="annanceForm.description"  name="description"   id="description" type="text" class="input">
    </div>

    <div class="group"> 
        <label for="date" class="label">Date</label>
        <input [(ngModel)]="annanceForm.date"   class="input">
    </div>




    <div class="group">
        <label for="category" class="label">Category</label>
        <input [(ngModel)]="annanceForm.category"  name="category" id="category" type="text" class="input">
    </div>



    <div class="group">
    <label for="avatar">Choose a profile picture:</label>
    <input  [(ngModel)]="annanceForm.picture"  type="file" id="avatar" name="avatar" accept="image/png, image/jpeg , image/jpg">
     </div>




    <div class="group">
        <input type="submit" class="button" value="Add">
    </div>


</form> -->
