<div class="sub">
    <button  class="btn" routerLink="/"><i class="fa fa-home"></i> Home</button>
<div  class="login-wrap">
 
	<div class="login-html">   
   
        <input type="radio" name="tab" class="sign-in" ><label routerLink="/login" for="tab-1" class="tab">Sign In</label>
		<input  type="radio" name="tab" class="sign-up" checked><label for="tab-2"  class="tab">Sign Up</label>
<form #myform="ngForm" (ngSubmit)="createUser()" class="login-form">
    <div class="group">
        <label for="user" class="label">Username</label>
        <input [(ngModel)]="userLogin.username"  name="username"   id="user" type="text" class="input">
    </div>
    <div class="group"> 
        <label for="pass" class="label">Password</label>
        <input [(ngModel)]="userLogin.password"  name="password" id="pass" type="password" class="input" data-type="password">
    </div>


    <div class="group">
        <label for="pass" class="label">Email Address</label>
        <input [(ngModel)]="userLogin.email"  name="email" id="pass" type="text" class="input">
    </div>
    <div class="group">
        <label for="address" class="label"> Address</label>
        <input [(ngModel)]="userLogin.address"  name="address" id="address" type="text" class="input">
    </div>
    <div class="group">
        <label for="pereferedCategory" class="label"> Perefered Category</label>
        <input [(ngModel)]="userLogin.preferedCategory" name="preferedCategory"  id="pereferedCategory" type="text" class="input">
    </div>
    <div class="group">
        <label for="phoneNumber" class="label"> Phone Number</label>
        <input [(ngModel)]="userLogin.phoneNumber"  name="phoneNumber" id="phoneNumber" type="text" class="input">
    </div>
    <div class="group">
        <input type="submit" class="button" value="Sign Up">
    </div>
    <div class="hr"></div>
    <div class="foot-lnk">
        <a for="tab-1">Already Member?</a>
    </div>
</form>
</div>

</div>
</div>    